:root {
  font-size: 15px;
}

ul {
  list-style: none;
  margin: 0px;
}
button {
  outline: 0;
}
a {
  color: black;
  text-decoration: none;
}
span,a,button{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.nav-container {
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  z-index: 4;
}
.nav-container > ul {
  width: 100%;
  display: flex;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
.nav-container > ul > li {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.app-container {
  min-height: 460px;
  padding: 0;
  margin: auto;
  width: inherit;
}

.app-container > .header-text {
  text-align: center;
}

.route-container {
  max-width:500px;
  margin: auto;
}
.metronome-container {
  position:relative;
}
.metronome-container > .bpm {
  display: inline-block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.guitar-neck {
  width: 210px;
  border-collapse: collapse;
  border-spacing: 0;
}
.guitar-neck tbody tr {

}
.guitar-neck tbody tr td:not(:nth-child(6)) {
  border: 1px solid black;
  height: 50px;
  position: relative;
}
.fret-number {
  position: absolute;
  top: 10px;
  left: -30px;
  font-size: 15px;
}
.guitar-neck tbody tr td .fretArea {
  position: absolute;
  display: block;
  top:4px;
  left: -10px;
  width: 20px;
  height: 44px;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}
.guitar-neck tbody .base-fret-container .fret .fretArea {
    top: 0px;
    left: -10px;
    width: 20px;
    height: 25px;
}
.guitar-neck tbody .fret-container  td .note-bubble {
    position: absolute;
    display: block;
    top:13px;
    left: -14px;
    width: 25px;
    height: 30px;
    border-radius: 45%;
    background-color: orangered;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.guitar-neck tbody .base-fret-container td .note-bubble {
  position: absolute;
  display: block;
  top:0px;
  left: -14px;
  width: 25px;
  height: 30px;
  border-radius: 45%;
  background-color: orangered;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  z-index: 2;
}
.guitar-neck tbody .base-fret-container .fret{
  border-top: 0px;
  height: 20px;
}
.guitar-neck tbody .base-fret-container .fret #x{
  color: red;
  position: absolute;
  top: 0px;
  left: -9px;
  font-size: 24px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  width: 24px;
  height: 30px;
}

.rangeslider__handle::after {
  content: none !important;
}
.slider-container {
  display: inline-block;
  width: calc(100% - 90px);
}
.icon-button,.icon-button:focus {
  border:0px;
  display: inline-block;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  outline: 0;
}
.icon-lg {
  font-size: 2.5em;
  line-height: 25px;
  font-weight: bold;
}
.btn-success {
  color: #7CB342;
}
.btn-error {
  color: orangered;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.bpm-container {
  margin: 10px 0px;
}
.fret-accent {
  position: absolute;
  left: 10px;
  width: 10px;
  height:10px;
  background-color: black;
}
.circle {
  border-radius: 50%;
}
.play-pause-button {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 0.09s ease-in-out
}
i[class^="flaticon-"]{
  display: block;
}
.guitar-neck tbody tr td:nth-child(6) {
position: relative;
}
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
.nav-container {
  height: 50px;
}
.route-container {
  margin-bottom: 50px;
}
.guitar-neck {
  float:none !important;
  margin:auto;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .nav-container {
    height: 60px;
  }
  .guitar-neck {
    float:none !important;
    margin:auto;
  }
  .route-container {
    margin-bottom: 60px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .app-container {
    padding: 10px 0px;
    width: 500px;
  }
  .guitar-neck {
    float: left !important;
  }
  .nav-container {
    max-width: 400px;
    padding-bottom: 15px;
    position: inherit;
    margin: auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .app-container {
    padding: 10px 0px;
    width: 700px;
  }
  .guitar-neck {
    float: left !important;
  }
  .nav-container {
    max-width: 400px;
    padding-bottom: 15px;
    position: inherit;
    margin: auto;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .app-container {
    padding: 15px 0px;
    width: 900px;
  }
  .guitar-neck {
    float: left !important;
  }
  .nav-container {
    padding-bottom: 15px;
    max-width: 400px;
    position: inherit;
    margin: auto;
  }
}
